body {
	background-color:black;
	color:white;
}

main {
	width:60vw;
	margin-left:auto;
	margin-right:auto;
}

#banner {
	display: block;
	width:320px;
	margin: 1vh auto;
}

.userIcon {
	max-width: 50px;
}